.fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    @media (min-width: 768px) {
        padding: 20px 30px 20px 40px;        
    }
    &__legend{
        display: flex;
        height: 44px; 

        &--h3{
            font-family: $font-title;
            font-size: 18px;
            text-transform: uppercase;
            color: $color-gunmetal ;
        }
    }
    &__sticker{
        display: flex;
        flex-direction: column;
        gap: 7px;       
        
        &--label{
        font-family: $font-content;
        font-size: 14px;
        color: $color-dark-gree-blue;

        }
        &--input{            
            height: 30px;            
            font-family: $font-content;
            font-size: 14px;
            color: $color-hospital-green;
            opacity: 0.5;
            padding-left: 9px;
        }
        &--file{
            background-color: $color-dull-orange;
            display: none;
        }
        &--div{
            height: 30px;
            width: 30px;
            border: 1px solid $color-hospital-green;
        }
    }
    
}
