.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#bfcdd0, #dde9ed);
    gap: 20px;

    @media(min-width:768px){
        width: 70vw;
        margin: 20px 40px 20px 0 ;
        border-radius: 6px;
      }

    &__button {
        width: 75px;
        height: 30px;
        font-family: $font-OpenSans;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: $color-gunmetal;
        border-radius: 15px;
        border: 1px solid $color-white-two;
        margin-top: 40px;
        margin-right: 160px;
        background-color: initial;
        cursor: pointer;

        &--icon {
            font-size: 12px;
        }
    }
}



.design {
    justify-content: center;
    //width: 240px;
    //height: 330px;
    box-shadow: 0 1px 10px 0 rgb(109, 109, 109),
        0 1px 3px 0 rgba(80, 80, 80, 0.35);
    border-radius: 2px;
    background-color: $color-white-two;
    /*margin-top: 30px;*/
    /*margin-left: 40px;*/
    margin-bottom: 40px;

    &__float {
        border-left: 5px solid;
        margin-top: 20px;
        margin-bottom: 10px;
        color: $color-brownish-grey;

        &--name {
            font-family: $font-Montserrat-Bold;
            font-size: 18px;
            width: 230px; // este width para que no salga del tamaño de la tarjeta
            line-height: 1.25;
            padding-left: 20px;
            color: $color-brownish-grey;
        }

        &--job {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 1.11;
            padding-left: 20px;
            padding-top: 4px;
            color: $color-brownish-grey;
        }
    }

    &__img {
        background-image: url("../images/valentina.jpg");
        width: 240px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.nav {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 12px;

    &__icon {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &--items {
            width: 32px;
            height: 32px;
            display: flex;
            flex-direction: row;
            border-radius: 16px;
            border: 2px solid;
            align-items: center;
            justify-content: center;
            color: $color-brownish-grey;
        }

        &--phone,
        &--email,
        &--linkedl,
        &--git {
            font-size: 18px;
            color: $color-brownish-grey;
        }
    }
}