<fieldset class="fieldset">
  <section class="fieldset__legend js-fieldset__legend js-design">
    <div class="fieldset__legend--div">
    <i class="fa-regular fa-object-ungroup fieldset__legend--keyboard"></i>
    <h3 class="fieldset__legend--title">Diseña</h3>
    </div>
    <div class="js-iconDesign">
      <i class="fa-solid fa-angle-up fieldset__legend--arrowupDesign arrow" style="color: #54585A;"></i>
      <i class="fa-solid fa-angle-down fieldset__legend--arrowDownDesign arrow" style="color: #54585A;"></i>
    </div>
  </section>

  <section class="form__design--colors">
    <p class="form__design--title">Colores</p>

    <div class="form__design--range js-designPalette">
      <div class="form__design">
        <label for="radioOne" class="form__design--label"></label>
        <input type="radio" name="palette" id="radioOne" class="form__design--input js-paletteOne" value="1" />
        <div class="form__design--p1c1 form__design--boxColor"></div>
        <div class="form__design--p1c2 form__design--boxColor"></div>
        <div class="form__design--p1c3 form__design--boxColor"></div>
      </div>

      <div class="form__design">
        <label for="radiusTwo" class="form__design--label"></label>
        <input type="radio" name="palette" id="radiusTwo" class="form__design--input js-paletteTwo" value="2" />
        <div class="form__design--p2c1 form__design--boxColor"></div>
        <div class="form__design--p2c2 form__design--boxColor"></div>
        <div class="form__design--p2c3 form__design--boxColor"></div>
      </div>

      <div class="form__design">
        <label for="radiusThree" class="form__design--label"></label>
        <input type="radio" name="palette" id="radiusThree" class="form__design--input js-paletteThree" value="3"/>
        <div class="form__design--p3c1 form__design--boxColor"></div>
        <div class="form__design--p3c2 form__design--boxColor"></div>
        <div class="form__design--p3c3 form__design--boxColor"></div>
      </div>
    </div>
  </section>
</fieldset>
</section>