<main>
  <section class="cards">
    <fieldset class="cards__bhotton">
      <i class="fa-light fa-trash-can" style="color: #54585a"></i> <!--Icono de reset-->
      <input type="button" value="Reset" />
    </fieldset>

    <articleh>
      <h4>Nombre Apellido</h4>
      <p>Front-end developer</p>
      <img src="../images/imgCards.jpg" alt="Foto profesional" />

      <div>
        <i class="fa-solid fa-mobile-screen-button" style="color: #114e4e;"></i>
        <!--Icono de telefono-->
        <i class="fa-regular fa-envelope" style="color: #114e4e;"></i>
        <!--Icono de email-->
        <i class="fa-brands fa-linkedin-in" style="color: #114e4e;"></i>
        <!--Icono de linkedl-->
        <i class="fa-brands fa-github-alt" style="color: #114e4e;"></i>
        <!--Icono de git-->
      </div>
      <i></i>
    </article>
  </section>

  <fieldset>
    <div>
      <i></i>
      <legend>Diseña</legend>
      <!--<i class="fa-solid fa-angle-down" style="color: #54585a;"></i>--> <!--Cerrada-->
      <i class="fa-solid fa-angle-up" style="color: #54585a;"></i> <!--Abierta-->
    </div>

    <section> <!--contendio de diseña, paletas de colores-->
      <label for="">Colores
        <input type="radio">
        <div> <!--colores-->

        </div> 
      </label>
    </section>
  </fieldset>
</main>
