<section class="cards">
    <button class="cards__button">
      <i class="fa-regular fa-trash-can cards__button--icon"></i>
      "Reset"
    </button>

    <article class="design ">
      <div class="design__float">
        <h4 class="design__float--name">Nombre Apellido</h4>
        <p class="design__float--job">Front-end developer</p>
      </div>

      <div class="design__img"></div>

        <nav class="nav">
          <ul class="nav__icon">
            <li class="nav__icon--items">
              <a href="#" class="nav__icon--link">
                <i class="fa-solid fa-mobile-screen-button nav__icon--phone"></i>
              </a>
            </li>
            <li class="nav__icon--items">
              <a href="#" class="nav__icon--link">
               <i class="fa-regular fa-envelope nav__icon--email"></i>
              </a>
            </li>
            <li class="nav__icon--items">
              <a href="#" class="nav__icon--link">
               <i class="fa-brands fa-linkedin-in nav__icon--linkedl"></i>
              </a>
            </li>
            <li class="nav__icon--items">
              <a href="#" class="nav__icon--link">
                <i class="fa-brands fa-github-alt nav__icon--git"></i>
              </a>
            </li>
          </ul>
        </nav>
    </article>
  </section>

  <fieldset class="fieldset">
    <section class="fieldset__legend">
      <i class="fa-regular fa-object-ungroup fieldset__legend--keyboard"></i>
      <h3 class="fieldset__legend--title">Diseña</h3>
      <!--<i class="fa-solid fa-angle-down" style="color: #54585a;"></i>-->
      <!--Cerrada-->
      <i class="fa-solid fa-angle-up"></i>
      <!--Abierta-->
    </section>

    <section class="form__design--colors">
        <p class="form__design--title">Colores</p>

        <div class="form__design--range">
          <div class="form__design">
              <label for="radioOne" class="form__design--label"></label>
              <input type="radio" name="palette" id="radioOne" class="form__design--input" value="1"/>
              <div class="form__design--p1c1 form__design--boxColor"></div>
              <div class="form__design--p1c2 form__design--boxColor"></div>
              <div class="form__design--p1c3 form__design--boxColor"></div>
          </div>
        
          <div class="form__design" >
            <label for="radiusTwo" class="form__design--label"></label>
            <input type="radio" name="palette" id="radiusTwo" class="form__design--input" value="2"/>
            <div class="form__design--p2c1 form__design--boxColor"></div>
            <div class="form__design--p2c2 form__design--boxColor"></div>
            <div class="form__design--p2c3 form__design--boxColor"></div>
          </div>

          <div class="form__design">
            <label for="radiusThree" class="form__design--label"></label>
            <input type="radio" name="palette" id="radiusThree" class="form__design--input" value="3"/>
            <div class="form__design--p3c1 form__design--boxColor"></div>
            <div class="form__design--p3c2 form__design--boxColor"></div>
            <div class="form__design--p3c3 form__design--boxColor"></div>
          </div>
        </div>

        
      
    </section>
  </fieldset>
</section>
