<fieldset class="fieldset">
  <section class="fieldset__legend js-fieldsetLegendForm js-form">
    <div class="fieldset__legend--div">
      <i class="fa-regular fa-keyboard fieldset__legend--keyboard"></i>
      <h3 class="fieldset__legend--title">Rellena</h3>
    </div>
    <div class="js-iconForm">
      <i
        class="fa-solid fa-angle-up fieldset__legend--arrowupForm arrow"
        style="color: #54585a"
      ></i>
      <i
        class="fa-solid fa-angle-down fieldset__legend--arrowDownForm arrow"
        style="color: #54585a"
      ></i>
    </div>
  </section>

  <div class="boxToBeHidden js-form">
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="name">Nombre completo</label>
      <input
        class="fieldset__sticker--input js-name-form"
        id="name"
        name="name"
        placeholder="Ej: Sally Jill"
        type="text"
      />
    </div>
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="job">Puesto</label>
      <input
        class="fieldset__sticker--input js-job-form"
        id="job"
        name="job"
        placeholder="Ej: Front-end unicorn"
        type="text"
      />
    </div>
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="file"
        >Imagen de perfil</label
      >
      <label class="fieldset__sticker--addImg" for="file">
        <div class="fieldset__sticker--butt">Añadir imagen</div>
        <input
          class="fieldset__sticker--file js-btn"
          name="photo"
          type="file"
          id="file"
        />
        <div class="fieldset__sticker--div js-profile-preview"></div>
      </label>
    </div>
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="email">Email</label>
      <input
        class="fieldset__sticker--input js-mail-form"
        id="email"
        name="email"
        placeholder="Ej: sally.hill@gmail.com"
        type="email"
      />
    </div>
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="phone">Teléfono</label>
      <input
        class="fieldset__sticker--input js-phone-form"
        id="phone"
        name="phone"
        placeholder="Ej: 555-55-55-55"
        type="tel"
        value=""
      />
    </div>
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="linkedin">Linkedin</label>
      <input
        class="fieldset__sticker--input js-linkedin-form"
        id="linkedin"
        name="linkedin"
        placeholder="Ej: sally-hill"
        type="text"
      />
    </div>
    <div class="fieldset__sticker">
      <label class="fieldset__sticker--label" for="github">GitHub</label>
      <input
        class="fieldset__sticker--input js-git-form"
        id="github"
        name="github"
        placeholder="Ej: sally-hill"
        type="text"
      />
    </div>
  </div>
</fieldset>
