<section class="landing">
<h2 class="landing__title">Crea tu tarjeta de visita</h2>
<p> Crea mejores contactos profesionales de forma facil y comoda</p>

<div>
    <div>
        <i class="fa-regular fa-object-ungroup"></i>
        <p class="landing__desing">Disena</p>

    </div>
    <div>
        <i class="fa-regular fa-keyboard"></i>
        <p class="landing__rellena">Rellena</p>
    </div>
    <div>
        <i class="fa-solid fa-share-nodes"></i>
        <p class="landing__share">Comparte</p>
    </div>
    


</div>

<button>Comenzar</button>

</section>


