<section class="cards">
    <button class="cards__button js_reset_btn">
        <i class="fa-regular fa-trash-can cards__button--icon"></i> Reset
    </button>

    <article class="design js-designCards">
        <div class="design__float">
            <h4 class="design__float--name js-name js-name-card">Nombre Apellido</h4>
            <p class="design__float--job js-job js-job-card">Front-end developer</p>
        </div>

        <div class="design__img js-img-card "></div>

        <nav class="nav">
            <ul class="nav__icon">
                <li class="nav__icon--items">
                    <a href="" class="nav__icon--link js-phone-card" target="_blank">
                        <i class="fa-solid fa-mobile-screen-button nav__icon--phone"></i>
                    </a>
                </li>
                <li class="nav__icon--items">
                    <a href="" class="nav__icon--link js-mail-card" target="_blank">
                        <i class="fa-regular fa-envelope nav__icon--email"></i>
                    </a>
                </li>
                <li class="nav__icon--items">
                    <a href="" class="nav__icon--link js-linkedin-card" target="_blank">
                        <i class="fa-brands fa-linkedin-in nav__icon--linkedl"></i>
                    </a>
                </li>
                <li class="nav__icon--items">
                    <a href="" class="nav__icon--link js-git-card" target="_blank">
                        <i class="fa-brands fa-github-alt nav__icon--git"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </article>
</section>