<fieldset class="fieldset">
  <section class="fieldset__legend js-fieldsetLegendShare js-share">
    <div class="fieldset__legend--div">
      <i class="fa-solid fa-share-nodes fieldset__legend--keyboard"></i>
      <h3 class="fieldset__legend--title">Comparte</h3>
    </div>
    <div class="js-iconShare">
      <i
        class="fa-solid fa-angle-up fieldset__legend--arrowupShare arrow"
        style="color: #54585a"
      ></i>
      <i
        class="fa-solid fa-angle-down fieldset__legend--arrowDownShare arrow"
        style="color: #54585a"
      ></i>
    </div>
  </section>
  <div class="fieldset__boxcontent">
    <button class="fieldset__boxcontent--buttonone js-createBtn">
      <i class="fa-solid fa-id-card"></i>
      <p>crear tarjeta</p>
    </button>

    <div class="fieldset__createdcard js-createdcard hidden">
      <h4 class="fieldset__createdcard--title">La tarjeta ha sido creada:</h4>
      <a
        href=""
        target="_blank"
        class="fieldset__createdcard--url js-linkCard"
      ></a>
      <a
        target="_blank"
        class="twitter-share-button js-twitter-button fieldset__createdcard--buttontwo"
        href="https://twitter.com/intent/tweet?text="
      >
        <i class="fa-brands fa-x-twitter"></i>
        <p>Comparte</p>
      </a>
    </div>
    <div class="fieldset__errorcard js-errorcard hidden">
      <h4 class="js-errorcard-title"></h4>
    </div>
  </div>
</fieldset>
