<fieldset class="fieldset">
  <section class="fieldset__legend js-fieldsetLegendShare js-share">
    <div class="fieldset__legend--div">
      <i class="fa-solid fa-share-nodes fieldset__legend--keyboard"></i>
      <h3 class="fieldset__legend--title">Comparte</h3>
    </div>
    <div class="js-iconShare">
      <i
        class="fa-solid fa-angle-up fieldset__legend--arrowupShare arrow"
        style="color: #54585a"
      ></i>
      <i
        class="fa-solid fa-angle-down fieldset__legend--arrowDownShare arrow"
        style="color: #54585a"
      ></i>
    </div>
  </section>
  <div class="fieldset__boxcontent">
    <button class="fieldset__boxcontent--buttonone js-createBtn">
      <i class="fa-solid fa-id-card"></i>
      <p>crear tarjeta</p>
    </button>

    <div class="fieldset__createdcard">
      <h4 class="fieldset__createdcard--title js-createdcard"></h4>
      <p class="fieldset__createdcard--url js-linkCard">href=""</p>
      <button class="fieldset__createdcard--buttontwo">
        <i class="fa-brands fa-x-twitter"></i>
        <p>compartir en X</p>
      </button>
    </div>
  </div>
</fieldset>
