<section class="sectionshare">
  <fieldset>
  <legend class="legend">
    <i> iconoComparte</i>
    <h3 class="legend__title">Comparte</h3>
    <i class="fa-solid fa-angle-up" style="color: #54585A;"></i> <!--Abierta-->
    
  </legend>
  <button class="buttonone">
    <i class="fa-sharp fa-light fa-address-card"></i>
    <p>crear tarjeta</p>
  </button>
  <div class="createdcard">
    <h4>La tarjeta ha sido creada:</h4>
    <p>url pagina web que se genra con la tarjeta</p>
    <button class="buttontwo">
      <img src="" alt="icono twitter" />
      <p>compartir en twitter</p>
    </button>
  </div>
</fieldset>
</section>
